<a href="https://colab.research.google.com/github/mishu11/Python/blob/main/Advance_Python_Interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# HARRY PYTHON PROGRAMMING COURSE (ADVANCED)
'''
Exceptions in python can be handled using a try statement.
'''
print("Aman")

Aman

In [ ]:
while(True):
  print("press q to quit\n")
  a=input("Enter a number")
  if a=='q':
    break
  try:
    a=int(a)
    if a > 6:
      print("greater than 6")
      break
  except ZeroDivisionError:
    print(f"your input is not correct")
  finally:
    print("Thanks for playing this game")

press q to quit

Enter a number0
Thanks for playing this game
press q to quit

Enter a number0000000000000
Thanks for playing this game
press q to quit

Enter a number33
greater than 6
Thanks for playing this game

In [ ]:
'''
if we are using exit fn or break in exception block than also
finally runs.

'''
try:
  i=int(input()) 
  c=1/i
except Exception as e:
  print(e) 
finally:
  print("We are done") #it will run regardless error

hjhjj
invalid literal for int() with base 10: 'hjhjj'
We are done

In [ ]:
#file name is m_06
def greet(name):
  print(f"Good Morning,{name}")


if __name__=="__main__":
  name=input("Enter a name")
  greet(name)

#i want to use this fn in another file.
'''
if __name__=="__main__": is ka matlab hai ki jab apan ye file run 
kahi or import karee toh ye run nahi hoga.Agar me ye file idhar hi run karu jha wo file hai
toh wo run hojayega
'''
#below code is of new file
# import  m_06
# m_06.greet()

Enter a nameaman
Good Morning,aman

'\nif __name__=="__main__": is ka matlab hai ki jab apan ye file run \nkahi or import karee toh ye run nahi hoga.Agar me ye file idhar hi run karu jha wo file hai\ntoh wo run hojayega\n'

In [ ]:
#Global keyword and Local 

#local and global
a=45 #global variable
def func1():
  global a 
  print(a)
  a=902 #local variable
  print(a)
  
func1()
a=34
print(a)

45
902
34

In [ ]:
#Enumerate fn
list1=[3,4,'asd',34]
for item in list1:
  print(item)
print("-------------")
for index,item in enumerate(list1):
  print(index,item)

3
4
asd
34
-------------
0 3
1 4
2 asd
3 34

In [ ]:
#List Comprehension-->its way to write list from a existing list

a=[3,4,5,6,7,8,74,3,32]
b=[i for i in a if i%2==0]
print(b)

[4, 6, 8, 74, 32]

In [ ]:
s={i for i in a}
print(s)

{32, 3, 4, 5, 6, 7, 8, 74}

In [ ]:
l=[1,2,3,4,5,6,7,8]
for i,j in enumerate(l):
  if i==2 or i==4 or i==6:
    print(i,j)

2 3
4 5
6 7

In [ ]:
num=int(input())
l=[i*num for i in range(1,11)]
print(l)

5
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
a=int(input())
b=int(input())
try:
  print(a/b)
except:
  print("Infinite")
finally:
  print("finally")

34
0
Infinite
finally

In [ ]:
#Chapter 13
#lambda functions-->Ther are called as Anonymous fn
def func(a):
  return a 
a=34
print(func(a))

sq=lambda a:a*a
sum=lambda x,y:x+y
print(sq(10),sum(10,40))

34
100 50

In [ ]:
#Join methods in String
l=["Aman","Ahmed","Mishu"]
k=" and ".join(l)
print(k)

#split
k2=k.split("and")
print(k2)

#format
name="Aman Ahmed"
pet="Mishu"
#index starts from 0
a="This is {1} {0}".format(name,pet)
print(a)

Aman and Ahmed and Mishu
['Aman ', ' Ahmed ', ' Mishu']
This is Mishu Aman Ahmed

In [ ]:
#Map-->ek fn ko saare list ke items par apply karnaa hai
def  sq(num):
  return num*num 
l=[1,2,3]
print(list(map(sq,l)))

[1, 4, 9]

In [ ]:
#Filter syntasx:list(filter(function,list))
def greater_than_5(num):
  if num>5:
    return True 
  else:
    return False


l=[1,22,4,55,100,34,56,9,2,4]
g10=lambda num:num>10
print(list(filter(greater_than_5,l)))
print(list(filter(g10,l)))

[22, 55, 100, 34, 56, 9]
[22, 55, 100, 34, 56]

In [ ]:
#Reduce
from functools import reduce 
#def sum(a,b):return a+b
sum=lambda a,b:a+b

l=[1,2,3,4,5]
val=reduce(sum,l)
print(val)

15

In [ ]:
name=input()
marks=int(input())
phone_no=int(input())
print("The name of the student is {}, his marks is {} and his phone number is {}".format(name,marks,phone_no))

kjk
9
98765432
The name of the student is kjk, his marks is 9 and his phone number is 98765432

In [ ]:
 l=[str(i*7) for i in range(1,11)]
 #list ke content integers the jisse hua kya ki wo join nahi ho paa raha hai kyunki wo string hai toh humme change karna padega ki usko str format
 print(l)
 vertical="\n".join(l)
 print(vertical)

['7', '14', '21', '28', '35', '42', '49', '56', '63', '70']
7
14
21
28
35
42
49
56
63
70

In [ ]:
def div_5(num):
  if num%5==0:
    return True
  else:
    return False
l=[22,33,40,50,10,32,45,900]

print(filter(div_5,l))

ans=list(filter(div_5,l))
print(ans)

ans2=list(filter(lambda a:a%5==0,l))
print(ans2)

<filter object at 0x7f1408baea50>
[40, 50, 10, 45, 900]
[40, 50, 10, 45, 900]

In [ ]:
import math
math.floor(2.8)

2