<a href="https://colab.research.google.com/github/mishu11/Python/blob/main/Python_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Count the frequency of words
# appearing in a string Using Python
def freq_words():
  str=input("Enter a string")
  li=str.split()
  d={}
  for i in li:
    if i not in d.keys():
      d[i]=0
    d[i]=d[i]+1
d
#duplicate keys nahi banti 
#Remove duplicates
# s = 'aababbcccc'
# dic = {}
# for i in s:
#   dic[i]=0

# print(''.join(dic))

{'pavan': 2, 'aman': 1}

In [ ]:
# Rearrange Array Alternately
#OutPut-->6 1 5 2 4 3

arr=[1,2,3,4,5,6]
n=len(arr)
ll=[]
for i in range(int(n/2)):
    ll.append(arr[n-1-i])
    ll.append(arr[i])
print(ll)

[6, 1, 5, 2, 4, 3]

In [ ]:
#First element to occur k times
'''
Given an array of N integers.
Find the first element that occurs
at least K number of times.
'''
arr=[0]*999
a=[1, 7, 4, 3, 4, 8, 7]
n=len(a)
for i in range(n):
  print(arr[a[i]])
  arr[a[i]]+=1
  print(arr[a[i]])
  print(a[i])
  print('------------')

0
1
1
------------
0
1
7
------------
0
1
4
------------
0
1
3
------------
1
2
4
------------
0
1
8
------------
1
2
7
------------

In [ ]:
#Quick Sort
l=[6,3,9,5,2,8]
n=len(l)-1

i=0
j=n-2
p=n-1
while(i<j):
  if l[i]>l[p]:
    l[i],l[j]=l[j],l[i]
    i+=1
    j-=1

l

[5, 9, 3, 6, 2, 8]

In [ ]:
l=[0,1,1,0,2,1,0]
d={}
for i in l:
  if i not in d:
    d[i]=0
  d[i]+=1
for i,j in d.items():
  if i==0:
    print([i]*j,end=' ')
  if i==1:
    print([i]*j,end=' ')
  if i==2:
    print([i]*j,end='')

[0, 0, 0] [1, 1, 1] [2]

In [ ]:
#Rotating an array
# Arr[] = {1, 2, 3, 4, 5, 6, 7}
# D = 2
# Output: 3 4 5 6 7 1 2


#In for loop we can't change the i=2 or i=3 ,it always start from 0
arr=[1,2,3,4,5]
d=2
l=[]
i=d
while(i<len(arr)):
  l.append(arr[i])
  i+=1
for i in range(d):
  l.append(arr[i])
l

[3, 4, 5, 1, 2]

In [ ]:
#First and last occurrences of x
'''
Input:
n=9, x=5
arr[] = { 1, 3, 5, 5, 5, 5, 67, 123, 125 }
Output:  2 5
Explanation: First occurrence of 5 is at index 2 and last
             occurrence of 5 is at index 5. 

'''
arr=[ 1, 3, 5, 5, 5, 5, 67, 123, 125 ]
n=len(arr)-1
x=5

[0, 1, 2]

In [ ]:
#Quick Sort

def partition(elements):
  pass 
def quickSort(elements):
  pass



elements=[11,7,2,66,71,223,45,52]

In [ ]:
l=[0,5,2,1,3,6,7]
ll=sorted(l)
k=l.sort()
ll

[0, 1, 2, 3, 5, 6, 7]

In [ ]:
def reverseList(arr, i, j):
    while i < j:
        arr[i], arr[j] = arr[j], arr[i]
        i += 1
        j -= 1
# Driver function to test above function
arr= [1, 2, 3, 4, 5, 6]
print(arr)
reverseList(arr, 0, len(arr)-1)
print("Reversed list is")
print(arr)

[1, 2, 3, 4, 5, 6]
Reversed list is
[6, 5, 4, 3, 2, 1]

In [ ]:
def reverseList(A, start, end):
    while start < end:
        A[start], A[end] = A[end], A[start]
        start += 1
        end -= 1
 
# Driver function to test above function
A = [1, 2, 3, 4, 5, 6]
print(A)
reverseList(A, 0, 5)
print("Reversed list is")
print(A)

[1, 2, 3, 4, 5, 6]
Reversed list is
[6, 5, 4, 3, 2, 1]

In [ ]:
#Removed duplicates
hh='gfdgd'
print(list(hh))
# s='pavan aman pavan'
# l=s.split(' ')
l=['pavan','aman','pavan']
d={}
ll=[]
for i in l:
  if i not in d:
    d[i]=0
  d[i]+=1
print(d)
for i,j in d.items():
  ll.append(i)
ll

['g', 'f', 'd', 'g', 'd']
{'pavan': 2, 'aman': 1}

['pavan', 'aman']

In [ ]:
a=[0, 2, 1, 0, 1, 2, 1, 2, 0, 0, 0, 2]
# d={}
# l=[]
# for i in a:
#     if i not in d:
#         d[i]=0
#     d[i]+=1 
# for i,j in d.items():
#     if i<i+1 and i<i+2:
#         l+=[i]*j
# print(l)
n = len(a)
lo = 0
mid = 0
hi = n-1

while mid <= hi:
    if a[mid]== 0:
        a[lo],a[mid] = a[mid],a[lo]
        lo += 1
        mid+= 1        
    elif a[mid] == 1:
        mid += 1
        
    else:
        a[hi],a[mid] = a[mid],a[hi]
        hi -= 1               
print(a)

[0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 2]

In [ ]:
#selection sort
nums=[23,4,1,4,55]
n=len(nums)
for i in range(n-1):
  minpos=i
  for j in range(i,n):
    if nums[j]<nums[minpos]:
      minpos=j
  nums[i],nums[minpos]=nums[minpos],nums[i]
nums

[1, 4, 4, 23, 55]

In [ ]:
#Conversion of two list into Dictionary Using Python
def list_to_dict():
  li1=['Naina','Kimi','Sheena']
  li2=[1,2,3]
  k=dict(zip(li1,li2))
  print(k)
list_to_dict()

{'Naina': 1, 'Kimi': 2, 'Sheena': 3}

In [ ]:
#FIND MISSING NUMBER IN AN ARRAY IN PYTHON
l=[1,2,3,5,6,7]
n=len(l)
n=(n*(n+1))/2
int(abs(n-sum(l)))

3

In [ ]:
#Find Out Pairs with given sum in an array in 
#python of time complexity O(n log n)- FACEBOOK,AMAZON

def find(li,target):
  i=0
  j=len(li)-1
  while(i<=j):
    if li[i]+li[j]==target:
      print(li[i],li[j])
      j=j+1
      i=i-1
    elif li[i]+li[j]>target:
      j=j-1
    elif li[i]+li[j]<target:
      i=i+1


arr=[1,2,3,45,67,26]
target=48
print(find(arr,target))

None

In [ ]:
#Find minimum difference between two elements of array

#when ever we are solving of array ,make sure 1st you sort,so its easy for us.
def min_diff(arr):
  arr=sorted(arr)
  size=len(arr)
  min_diff=2222222
  for i in range(size-1):
    if arr[i+1]-arr[i]<min_diff:
      min_diff=arr[i+1]-arr[i]
  return min_diff

arr=[5,32,45,4,12,18,25]
print(min_diff(arr))

1

In [ ]:
nums=[5,3,8,6,7,2]
minn=nums[0]
n=len(nums)
for i in range(n-1):
  minpos=i
  for j in range(i,n):
    if nums[j]<nums[minpos]:
      minpos=j 
  # temp=nums[i]
  # nums[i]=nums[minpos]
  # nums[minpos]=temp
  nums[i],nums[minpos]=nums[minpos],nums[i]
nums

[2, 3, 5, 6, 7, 8]

In [ ]:
#Postfix Expression
A=['2','1','+','3','*']

In [ ]:
#conversion of array into wave array
arr=[3,5,12,2,6,10,7,9,8]
for  i in range(0,len(arr),2):
  if i>0 and arr[i-1]>arr[i]:
    arr[i-1],arr[i]=arr[i],arr[i-1]
  if i<len(arr)-1 and  arr[i]<arr[i+1]:
    arr[i],arr[i+1]=arr[i+1],arr[i]
arr

[5, 3, 12, 2, 10, 6, 9, 7, 8]

In [ ]:
#Hotel Booking 

def hotel_booking(arrival,depart,k):
  EVENT=[]
  for i in range(0,len(arrival)):
    t_arrive=()
    t_arrive=t_arrive+(arrival[i],'RED')
    EVENT.append(t_arrive)
  for i in range(0,len(depart)):
    t_depart=()
    t_depart=t_depart+(depart[i],"BLUE")
    EVENT.append(t_depart)
  print(EVENT)
  event=sorted(EVENT)

arrival=[1,3,5]
depart=[2,6,8]
hotel_booking(arrival,depart,1)

[(1, 'RED'), (3, 'RED'), (5, 'RED'), (2, 'BLUE'), (6, 'BLUE'), (8, 'BLUE')]

In [ ]:
# Remove duplicates from sorted array

def remove_duplicates(arr):
  n=len(arr)
  if n==0 or n==1:
    return arr
  temp=[0]*n
  pivot=0
  for i in range(len(arr)-1):
     if arr[i]!=arr[i+1]:
        temp[pivot]=arr[i]
        pivot+=1

  temp[pivot]=arr[n-1]
  return temp[0:pivot+1]

arr=[1,1,2,2,2,3,3,3,4,4,4]
print(remove_duplicates(arr))

[1, 2, 3, 4]

In [ ]:
#Maximum Sum Subarray
arr=[4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]
cur_sum=0
max_far=arr[0]
for i in range(0,len(arr)):
  cur_sum=cur_sum+arr[i]
  if max_far<cur_sum:
    max_far=cur_sum 
  if cur_sum<0:
    cur_sum=0
max_far





# #Maximum Sum Subarray with what to what index
# arr=[4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]
# cur_sum=0
# max_far=arr[0]
# st=0
# en=0
# poi=0
# for i in range(0,len(arr)):
#   cur_sum=cur_sum+arr[i]
#   if max_far<cur_sum:
#     st=poi
#     en=i
#     max_far=cur_sum 
#   if cur_sum<0:
#     cur_sum=0
#     poi=i+1
# max_far,st,en

7

In [ ]:
#Find the index of Groups of strings that are ANAGRAMS

In [ ]:
#Binary Search  
def bs(ll,target):
  i=0
  j=len(ll)-1
  target=12
  while(i<j):
    mid=int((i+j)/2)
    if ll[mid]==target:
      return mid,ll[mid]
    elif ll[mid]>target:
      j=j-1
    else:
      i=i+1

    
ll=[4,7,8,12,45,99]
target=12
print(bs(ll,target))

(3, 12)

In [ ]:
#Find Rotattion of string
s='Discover'
size=len(s)
temp=s+s #DiscoverDiscover
for i in range(size):
  for j in range(size):
    print(temp[i+j],end='')
  print()

Discover
iscoverD
scoverDi
coverDis
overDisc
verDisco
erDiscov
rDiscove

In [ ]:
#Reverse Words in String
s='Mishu is going to become billionare'
s1=s.split(' ')
s1=s1[::-1]
s1=' '.join(s1)
s1

'billionare become to going is Mishu'

In [ ]:
#FIRST NON-REPEATING CHARACTER IN A STRING

#dictionary is not supporting insertion.
s='NETSETOSQNET'
d={}
size=len(s)
for i in range(size):
  key=s[i]
  if key not in d:
    d[key]=1
  else:
    d[key]+=1
for key,value in d.items():
  if value==1:
    print(key)
    break

O

In [ ]:
#Excel column number [ LEETCODE 171 ]
ord('I'),chr(73)

(73, 'I')

In [ ]:
l= [1, 3, 5, 3, 7, 9, 3]
d={}
for i in l:
  if i not in d.keys():
    d[i]=0
  d[i]=d[i]+1
d

for i,j in d.items():
  if i==3:
    print(j)

3

In [ ]:
import math
ciel(2.5)

NameError: ignored